.md {
    h1 {
        font-weight: 600;
        font-size: 62px;
        line-height: 123%;
        letter-spacing: .07em;
        vertical-align: middle;
        text-transform: uppercase;
    }
    h2 {
        font-weight: 500;
        font-size: 24px;
        line-height: 129%;
        letter-spacing: .07em;
        vertical-align: middle;
    }
    h3 {
        font-weight: 500;
        font-size: 20px;
        line-height: 129%;
        letter-spacing: .07em;
        vertical-align: middle;
    }
    p {
        font-weight: 400;
        font-size: 20px;
        line-height: 129%;
        letter-spacing: .07em;
        vertical-align: middle;
    }
}